## Below is the MDS CODEOWNERS file, which dictates who is required for review on any given file. 

## All MDS approvals 
* @hunterowens @thekaveman @jfh01


## City Services Working Group Specific, also JSON Schema 
/agency/*  @hunterowens @thekaveman @jfh01 @henrij
/schema/*  @hunterowens @thekaveman @jfh01 @henrij

