## Below is the MDS CODEOWNERS file, which dictates who is required for review on any given file.

## All MDS approvals
* @openmobilityfoundation/omf-admin

## Provider Services Working Group
/provider/* @openmobilityfoundation/provider-services-wg-maintainers

## City Services Working Group Specific, also JSON Schema
/agency/*  @openmobilityfoundation/city-services-wg-maintainers

## schema is changed by provider and city services working group
/schema/*  @openmobilityfoundation/provider-services-wg-maintainers @openmobilityfoundation/city-services-wg-maintainers
